In [22]:
%pip install pyarrow
import pandas as pd
import pyarrow

Collecting pyarrow
  Downloading pyarrow-16.1.0-cp39-cp39-macosx_10_15_x86_64.whl (28.4 MB)
     |████████████████████████████████| 28.4 MB 1.4 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.16.6 in /Users/scottenriquez/opt/anaconda3/lib/python3.9/site-packages (from pyarrow) (1.20.3)
Installing collected packages: pyarrow
Successfully installed pyarrow-16.1.0
Note: you may need to restart the kernel to use updated packages.

## Logan's Legacy Excel Files

In [2]:
nfl_team_load = pd.read_excel('data/nfl-team-load.xlsx')
nfl_team_load.head()

   PlayerID FirstName       LastName
0         1     49ers  San Francisco
1         2     Bears        Chicago
2         3   Bengals     Cincinnati
3         4     Bills        Buffalo
4         5   Broncos         Denver

In [18]:
owner_load = pd.read_excel('data/owner-load.xlsx')
owner_load.head()

   OwnerID FirstName    Lastname
0        1    Logan   Richardson
1        2     Carl      Meziere
2        3    Lenis        David
3        4   Phillip    Spurling
4        5      Matt    Kniowski

In [19]:
roster_table_load = pd.read_excel('data/roster-table-load.xlsx')
roster_table_load.head()

   Owner Id Owner Name  Week_ID      Player Name
0         1      Logan   201401        Panthers
1         1      Logan   201401   DeMarco Murray
2         1      Logan   201401    Pierre Thomas
3         1      Logan   201401       Greg Olsen
4         1      Logan   201401  Rashad Jennings

## Sleeper Player Data

In [17]:
nfl_player_data = pd.read_json('data/players.json').transpose()
nfl_player_data.head()

,search_full_name,years_exp,metadata,sport,search_last_name,news_updated,rotoworld_id,position,first_name,birth_city,...,injury_body_part,last_name,depth_chart_position,injury_notes,birth_date,team,number,injury_status,high_school,gsis_id
3992,davecaldwell,0,None,nfl,caldwell,None,9502,None,Dave,None,...,None,Caldwell,None,None,None,None,0,None,None,None
6744,gregward,7,{'rookie_year': '2017'},nfl,ward,1701897349719,12815,WR,Greg,None,...,None,Ward,None,None,1995-07-12,None,84,None,John Tyler (TX),00-0033733
1591,alvinbailey,7,None,nfl,bailey,None,8690,G,Alvin,None,...,None,Bailey,None,None,1991-08-26,None,78,None,Broken Arrow (OK),None
918,nilespaul,11,None,nfl,paul,1565134827397,6661,TE,Niles,None,...,None,Paul,None,None,1989-08-09,None,0,None,Millard North (NE),00-0028093
4810,kwaydemiller,5,None,nfl,miller,None,None,OT,Kwayde,None,...,None,Miller,None,None,1993-12-11,None,63,None,Ramona,None

In [23]:
nfl = pd.read_parquet('data/player_data.parquet')
nfl.head()

,college,metadata,search_first_name,age,news_updated,oddsjam_id,gsis_id,position,birth_date,rotowire_id,...,practice_participation,practice_description,first_name,player_id,number,team,swish_id,birth_country,weight,opta_id
0,None,None,dave,NaN,NaN,None,None,None,None,NaN,...,None,None,Dave,3992,0.0,None,NaN,None,,None
1,Houston,"{'injury_override_off_2021_0': None, 'injury_o...",greg,28.0,1.701897e+12,3349E777E3F6,00-0033733,WR,1995-07-12,11883.0,...,None,None,Greg,6744,84.0,None,741292.0,None,190,None
2,Arkansas,None,alvin,29.0,NaN,None,None,G,1991-08-26,8704.0,...,None,None,Alvin,1591,78.0,None,NaN,None,320,None
3,Nebraska,None,niles,32.0,1.565135e+12,None,00-0028093,TE,1989-08-09,7384.0,...,None,None,Niles,918,0.0,None,NaN,None,242,None
4,San Diego State,None,kwayde,28.0,NaN,None,None,OT,1993-12-11,NaN,...,None,None,Kwayde,4810,63.0,None,NaN,None,315,None