In [9]:
%pip install pyarrow
%pip install boto3
%pip install s3fs
import pandas as pd
import pyarrow

Requirement already satisfied: pyarrow in /Users/scottenriquez/opt/anaconda3/lib/python3.9/site-packages (16.1.0)
Requirement already satisfied: numpy>=1.16.6 in /Users/scottenriquez/opt/anaconda3/lib/python3.9/site-packages (from pyarrow) (1.20.3)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: boto3 in /Users/scottenriquez/opt/anaconda3/lib/python3.9/site-packages (1.34.136)
Collecting botocore<1.35.0,>=1.34.136
  Using cached botocore-1.34.136-py3-none-any.whl (12.4 MB)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /Users/scottenriquez/opt/anaconda3/lib/python3.9/site-packages (from boto3) (1.0.1)
Requirement already satisfied: s3transfer<0.11.0,>=0.10.0 in /Users/scottenriquez/opt/anaconda3/lib/python3.9/site-packages (from boto3) (0.10.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /Users/scottenriquez/opt/anaconda3/lib/python3.9/site-packages (from botocore<1.35.0,>=1.34.136->boto3) (1.26.7)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /Users/scottenriquez/opt/anaconda3/lib/python3.9/site-packages (from botocore<1.35.0,>=1.34.136->boto3) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/scottenriquez/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.35.0,>=1.34.136->boto3) (1.16.0)
Installing collected packages: botocore
  Attempting uninstall: botocore
    Found existing installation: botocore 1.34.131
    Uninstalling botocore-1.34.131:
      Successfully uninstalled botocore-1.34.131
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
aiobotocore 2.13.1 requires botocore<1.34.132,>=1.34.70, but you have botocore 1.34.136 which is incompatible.
Successfully installed botocore-1.34.136
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: s3fs in /Users/scottenriquez/opt/anaconda3/lib/python3.9/site-packages (2024.6.1)
Requirement already satisfied: aiobotocore<3.0.0,>=2.5.4 in /Users/scottenriquez/opt/anaconda3/lib/python3.9/site-packages (from s3fs) (2.13.1)
Requirement already satisfied: fsspec==2024.6.1.* in /Users/scottenriquez/opt/anaconda3/lib/python3.9/site-packages (from s3fs) (2024.6.1)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /Users/scottenriquez/opt/anaconda3/lib/python3.9/site-packages (from s3fs) (3.9.5)
Collecting botocore<1.34.132,>=1.34.70
  Using cached botocore-1.34.131-py3-none-any.whl (12.3 MB)
Requirement already satisfied: aioitertools<1.0.0,>=0.5.1 in /Users/scottenriquez/opt/anaconda3/lib/python3.9/site-packages (from aiobotocore<3.0.0,>=2.5.4->s3fs) (0.11.0)
Requirement already satisfied: wrapt<2.0.0,>=1.10.10 in /Users/scottenriquez/opt/anaconda3/lib/python3.9/site-packages (from aiobotocore<3.0.0,>=2.5.4->s3fs) (1.12.1)
Requirement already satisfied: multidict<7.0,>=4.5 in /Users/scottenriquez/opt/anaconda3/lib/python3.9/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (6.0.5)
Requirement already satisfied: attrs>=17.3.0 in /Users/scottenriquez/opt/anaconda3/lib/python3.9/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (21.2.0)
Requirement already satisfied: aiosignal>=1.1.2 in /Users/scottenriquez/opt/anaconda3/lib/python3.9/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (1.3.1)
Requirement already satisfied: frozenlist>=1.1.1 in /Users/scottenriquez/opt/anaconda3/lib/python3.9/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (1.4.1)
Requirement already satisfied: yarl<2.0,>=1.0 in /Users/scottenriquez/opt/anaconda3/lib/python3.9/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (1.9.4)
Requirement already satisfied: async-timeout<5.0,>=4.0 in /Users/scottenriquez/opt/anaconda3/lib/python3.9/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (4.0.3)
Requirement already satisfied: typing_extensions>=4.0 in /Users/scottenriquez/opt/anaconda3/lib/python3.9/site-packages (from aioitertools<1.0.0,>=0.5.1->aiobotocore<3.0.0,>=2.5.4->s3fs) (4.12.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /Users/scottenriquez/opt/anaconda3/lib/python3.9/site-packages (from botocore<1.34.132,>=1.34.70->aiobotocore<3.0.0,>=2.5.4->s3fs) (1.26.7)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /Users/scottenriquez/opt/anaconda3/lib/python3.9/site-packages (from botocore<1.34.132,>=1.34.70->aiobotocore<3.0.0,>=2.5.4->s3fs) (1.0.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /Users/scottenriquez/opt/anaconda3/lib/python3.9/site-packages (from botocore<1.34.132,>=1.34.70->aiobotocore<3.0.0,>=2.5.4->s3fs) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/scottenriquez/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.34.132,>=1.34.70->aiobotocore<3.0.0,>=2.5.4->s3fs) (1.16.0)
Requirement already satisfied: idna>=2.0 in /Users/scottenriquez/opt/anaconda3/lib/python3.9/site-packages (from yarl<2.0,>=1.0->aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (3.2)
Installing collected packages: botocore
  Attempting uninstall: botocore
    Found existing installation: botocore 1.34.136
    Uninstalling botocore-1.34.136:
      Successfully uninstalled botocore-1.34.136
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
boto3 1.34.136 requires botocore<1.35.0,>=1.34.136, but you have botocore 1.34.131 which is incompatible.
Successfully installed botocore-1.34.131
Note: you may need to restart the kernel to use updated packages.

## Logan's Legacy Excel Files

In [10]:
nfl_team_load = pd.read_excel('data/nfl-team-load.xlsx')
nfl_team_load.head()

   TeamID   Mascot           City
0       1    49ers  San Francisco
1       2    Bears        Chicago
2       3  Bengals     Cincinnati
3       4    Bills        Buffalo
4       5  Broncos         Denver

In [11]:
owner_load = pd.read_excel('data/owner-load.xlsx')
owner_load.head()

   OwnerID FirstName    Lastname
0        1    Logan   Richardson
1        2     Carl      Meziere
2        3    Lenis        David
3        4   Phillip    Spurling
4        5      Matt    Kniowski

In [12]:
roster_table_load = pd.read_excel('data/roster-table-load.xlsx')
roster_table_load.head()

   Owner Id Owner Name  Week_ID      Player Name
0         1      Logan   201401        Panthers
1         1      Logan   201401   DeMarco Murray
2         1      Logan   201401    Pierre Thomas
3         1      Logan   201401       Greg Olsen
4         1      Logan   201401  Rashad Jennings

## Sleeper Player Data

In [13]:
nfl_player_data = pd.read_json('data/players.json').transpose()
nfl_player_data.head()

,search_full_name,years_exp,metadata,sport,search_last_name,news_updated,rotoworld_id,position,first_name,birth_city,...,injury_body_part,last_name,depth_chart_position,injury_notes,birth_date,team,number,injury_status,high_school,gsis_id
3992,davecaldwell,0,None,nfl,caldwell,None,9502,None,Dave,None,...,None,Caldwell,None,None,None,None,0,None,None,None
6744,gregward,7,{'rookie_year': '2017'},nfl,ward,1701897349719,12815,WR,Greg,None,...,None,Ward,None,None,1995-07-12,None,84,None,John Tyler (TX),00-0033733
1591,alvinbailey,7,None,nfl,bailey,None,8690,G,Alvin,None,...,None,Bailey,None,None,1991-08-26,None,78,None,Broken Arrow (OK),None
918,nilespaul,11,None,nfl,paul,1565134827397,6661,TE,Niles,None,...,None,Paul,None,None,1989-08-09,None,0,None,Millard North (NE),00-0028093
4810,kwaydemiller,5,None,nfl,miller,None,None,OT,Kwayde,None,...,None,Miller,None,None,1993-12-11,None,63,None,Ramona,None

## Lambda Function Output Test

In [14]:
nfl = pd.read_parquet('data/player_data.parquet')
nfl.head()

,college,metadata,search_first_name,age,news_updated,oddsjam_id,gsis_id,position,birth_date,rotowire_id,...,practice_participation,practice_description,first_name,player_id,number,team,swish_id,birth_country,weight,opta_id
0,None,None,dave,NaN,NaN,None,None,None,None,NaN,...,None,None,Dave,3992,0.0,None,NaN,None,,None
1,Houston,"{'injury_override_off_2021_0': None, 'injury_o...",greg,28.0,1.701897e+12,3349E777E3F6,00-0033733,WR,1995-07-12,11883.0,...,None,None,Greg,6744,84.0,None,741292.0,None,190,None
2,Arkansas,None,alvin,29.0,NaN,None,None,G,1991-08-26,8704.0,...,None,None,Alvin,1591,78.0,None,NaN,None,320,None
3,Nebraska,None,niles,32.0,1.565135e+12,None,00-0028093,TE,1989-08-09,7384.0,...,None,None,Niles,918,0.0,None,NaN,None,242,None
4,San Diego State,None,kwayde,28.0,NaN,None,None,OT,1993-12-11,NaN,...,None,None,Kwayde,4810,63.0,None,NaN,None,315,None

## Exploring RDS Snapshot Exports

In [20]:
scoring = pd.read_parquet('s3://ff-temp-export-testing/useff/nfldb/twiath.scoring/1/part-00000-09562205-da1a-4318-8d92-840212bbffb0-c000.gz.parquet')
scoring.head

<bound method NDFrame.head of    scoringid  passingyards  interceptionsthrown  rushingyards  tdpass  \
0          1          0.04                 -2.0           0.1     4.0

   twptpassingconversion  tdrush  twoptrushingconversion  tdreception  \
0                    2.0     6.0                     2.0          6.0

   receivingyards  ...  defkickoffreturntd  blockedpuntorfgreturnfortd  \
0             0.1  ...                 4.0                         4.0

   interception  fumbleforced  stuffs  basepoints  oneptreturn  twoptreturn  \
0           2.0           1.0    0.35        12.5          1.0          2.0

   pointsallowed  yardsallowed
0          -0.25         -0.02

[1 rows x 40 columns]>

In [10]:
espn_players = pd.read_parquet('s3://ff-temp-export-testing/useff/nfldb/twiath.espn_players/1/part-00000-ebced1e3-abea-4f9d-bc1f-2ff376a086eb-c000.gz.parquet')
espn_players.head

<bound method NDFrame.head of       espn_id nfl_team player_first_name player_last_name player_full_name  \
0     3918298      BUF              Josh           Allen        Josh Allen
1       15948      BUF              Matt         Barkley      Matt Barkley
2     3916564      BUF             Tyree         Jackson     Tyree Jackson
3        8479      BUF             Frank            Gore        Frank Gore
4       12514      BUF            LeSean           McCoy      LeSean McCoy
...       ...      ...               ...              ...              ...
2890  3116179      LAR              Nick           Scott        Nick Scott
2891    10481      LAR              Eric          Weddle       Eric Weddle
2892    14993      LAR              Greg        Zuerlein     Greg Zuerlein
2893    15153      LAR            Johnny          Hekker     Johnny Hekker
2894    14676      LAR              Jake        McQuaide     Jake McQuaide

      uniform_number position   age height  weight  years_pro  \
0                 17       QB  23.0   6' 5     237          2
1                  5       QB  28.0   6' 2     227          7
2                  6       QB  21.0   6' 7     249          0
3                 28       RB  36.0   5' 9     212         15
4                 25       RB  30.0  5' 11     210         11
...              ...      ...   ...    ...     ...        ...
2890              46        S  24.0  5' 11     200          0
2891              32        S  34.0  5' 11     195         13
2892               4       PK  31.0   6' 0     191          8
2893               6        P  29.0   6' 5     241          8
2894              44       LS  31.0   6' 2     235          9

               college                                          espn_link
0              Wyoming  http://www.espn.com/nfl/player/_/id/3918298/jo...
1                  USC  http://www.espn.com/nfl/player/_/id/15948/matt...
2              Buffalo  http://www.espn.com/nfl/player/_/id/3916564/ty...
3           Miami (FL)  http://www.espn.com/nfl/player/_/id/8479/frank...
4           Pittsburgh  http://www.espn.com/nfl/player/_/id/12514/lese...
...                ...                                                ...
2890        Penn State  http://www.espn.com/nfl/player/_/id/3116179/ni...
2891              Utah  http://www.espn.com/nfl/player/_/id/10481/eric...
2892  Missouri Western  http://www.espn.com/nfl/player/_/id/14993/greg...
2893      Oregon State  http://www.espn.com/nfl/player/_/id/15153/john...
2894        Ohio State  http://www.espn.com/nfl/player/_/id/14676/jake...

[2895 rows x 13 columns]>

In [11]:
league = pd.read_parquet('s3://ff-temp-export-testing/useff/nfldb/twiath.league/1/part-00000-28115986-03ad-457a-a0fd-c7dcfd5f2dac-c000.gz.parquet')
league.head

<bound method NDFrame.head of    leagueid               leaguename
0    526113  The Winner is a Tryhard>

In [12]:
matchup = pd.read_parquet('s3://ff-temp-export-testing/useff/nfldb/twiath.matchup/1/part-00000-bb3cc925-419e-4dc9-acba-829e1bb21607-c000.gz.parquet')
matchup.head

<bound method NDFrame.head of      matchupid  awayteam  weekid  hometeam
0            1        13   20141        26
1            2        49   20141        35
2            3        54   20141         3
3            4        37   20141        23
4            5        41   20141        10
..         ...       ...     ...       ...
478        479        43  201816        11
479        480         7  201816        28
480        481        14  201816        51
481        482         5  201816        46
482        483        25  201816        31

[483 rows x 4 columns]>

In [13]:
owners = pd.read_parquet('s3://ff-temp-export-testing/useff/nfldb/twiath.owner/1/part-00000-46748adf-bc72-406c-bdc7-c4235bb05fda-c000.gz.parquet')
owners.head

<bound method NDFrame.head of                                  ownerid firstname     lastname ownername
0   0FDF20B0-22B3-44EC-AB01-4A99AA6E055D   Scottie     Enriquez      None
1                                      1   Brandon       Cotton      None
2                                      2      Neal    Bhattarai      None
3   2A9BF930-9EBF-401D-9BF9-309EBFE01D15    Andrew     Carlough      None
4                                      3     Dylan    Schonberg      None
5                                      4   Phillip     Spurling      None
6                                      5      Ryan  Hershberger      None
7   5A1E31BA-F26A-49A5-89D9-03125ACBEA54     Caleb      Trantow      None
8                                      6     Lenis        David      None
9   6CBBEC56-F103-48C7-B3F8-40E4A439A426      Matt     Kniwoski      None
10  77565491-E2D8-4BA0-9654-91E2D89BA00A     Chris       Ramsey      None
11  7A77775F-314B-4FA7-B777-5F314BAFA724     Logan   Richardson      None
12  7BE03E9B-C716-4CD8-A03E-9BC716ECD85E    Travis        James      None
13  838BBA2A-EDDB-481E-8BBA-2AEDDBE81EDB    Callen        Trail      None
14  8AC9954A-7892-4176-88CE-96FC431E1AE2      John       Yarrow      None
15  A14FEDE3-A67C-4C66-BE82-117906AAA11A     Trond          Liu      None
16  CE279A1E-1373-44D6-9386-B6D968E77E1B      Mark     Hamilton      None
17  E5A1E998-5F9C-4747-AD3E-9CCBA159560B      Carl      Meziere      None>

In [14]:
performance = pd.read_parquet('s3://ff-temp-export-testing/useff/nfldb/twiath.performance/1/part-00000-5002e41b-0c6e-416b-9395-8c7c1bcec733-c000.gz.parquet')
performance.head

<bound method NDFrame.head of Empty DataFrame
Columns: [performanceid, passingyards, interceptionsthrown, rushingyards, tdpass, twptpassingconversion, tdrush, twoptrushingconversion, tdreception, receivingyards, twoptreceivingconversion, kickoffreturntd, puntreturntd, totalfumbles, fumblerecoveredtd, totalfumbleslost, patmade, patmissed, fgmade40_49, fgmissed0_39, fgmade0_39, fgmade50, fgmissed40_49, sack, deffumblereturntd, puntreturntd_1, blockedpuntpatorfg, fumblesrecovered, safety, interceptionreturntd, defkickoffreturntd, blockedpuntorfgreturnfortd, interception, fumbleforced, stuffs, basepoints, ptreturn, pointsallowed, yardsallowed, weekid, playerid]
Index: []

[0 rows x 41 columns]>

In [15]:
player = pd.read_parquet('s3://ff-temp-export-testing/useff/nfldb/twiath.player/1/part-00000-7644afbe-ba8a-43ab-bebd-707331f783ce-c000.gz.parquet')
player.head

<bound method NDFrame.head of    playerid position     nflteam firstname         lastname
0    -16011     D/ST  Colts D/ST     Colts             D/ST
1     16040       RB         DET      C.J.        Anderson
2     10452       RB         WSH    Adrian        Peterson
3     13982       WR         ATL     Julio           Jones
4      5536       QB         PIT       Ben  Roethlisberger
5     15853       TE         PIT     Vance        McDonald
6   3051392       RB         DAL   Ezekiel         Elliott
7   2508176       RB         ARI     David         Johnson
8   2574808       WR         NYJ     Robby        Anderson >

In [17]:
roster = pd.read_parquet('s3://ff-temp-export-testing/useff/nfldb/twiath.roster/1/part-00000-3d11553d-2fef-4308-bfa8-4637942ef13a-c000.gz.parquet')
roster.head

<bound method NDFrame.head of       playerid_espn  teamid  weekid starter_bench playerid_nfldb
0                 5       1   20151             S              5
1              1097       1   20151             S     00-0016919
2              4527       1   20151             S     00-0022127
3             13216       1   20151             S     00-0027874
4             14881       1   20151             S     00-0029263
...             ...     ...     ...           ...            ...
7319          11283      54  201417             S     00-0026189
7320          14900      54  201417             S     00-0029697
7321          15826      54  201417             S     00-0030456
7322              0      54  201417             S     00-0031373
7323          16794      54  201417             S     00-0031413

[7324 rows x 5 columns]>

In [18]:
team = pd.read_parquet('s3://ff-temp-export-testing/useff/nfldb/twiath.team/1/part-00000-34af1838-cfc9-4719-b29f-c5a103244552-c000.gz.parquet')
team.head

<bound method NDFrame.head of     teamid                         teamname  leagueid  \
0        1           Chronic Masterdeflater    526113
1        2           Julio Let the Dogs Out    526113
2        3                 LickMy GrapeNuts    526113
3        4              King of Tyreek Hill    526113
4        5                   Too Many Rooks    526113
5        6                Devontas' Inferno    526113
6        7                 Pornelius Hubert    526113
7        8          Daks Out For Gronkowski    526113
8        9                  Bulls on Parade    526113
9       10      If You Aint 1st You're Last    526113
10      11       The Schlong Arm of the Law    526113
11      12          JOSH GORDON JOSH GORDON    526113
12      13                    HE HAS RISEN!    526113
13      14                  Obi Wan Mahomie    526113
14      15                  It Ertz So Good    526113
15      16              Commissioner Gordon    526113
16      17                   Odells Kitchen    526113
17      18                    Game of Jones    526113
18      19                      Gronky Kong    526113
19      20               Double Dwayne Bowe    526113
20      21      Chopped Junior chefs better    526113
21      22       All i want for my birthday    526113
22      23     Dodgeball is Matrix, I'm Neo    526113
23      24             Mouth Breathers Inc.    526113
24      25                 The Unstartables    526113
25      26      Luck Her Right in the Percy    526113
26      27               Jamaal My Children    526113
27      28                    World Beaters    526113
28      29     Teenage Mutant Ninja Bortles    526113
29      30                  The Brady Bunch    526113
30      31                   AMERICAN POW6R    526113
31      32      Little John In the Big City    526113
32      33                    Bismo Funyuns    526113
33      34   Sesame Tabby w/ Pug-Fried Rice    526113
34      35                Brown Thunder ATX    526113
35      36               Draftkings Is Life    526113
36      37                   This is for #1    526113
37      38                 Expect A Miracle    526113
38      39            The Uncle of a Nation    526113
39      40                       TD Lockett    526113
40      41                I Mess With texas    526113
41      42                      BEAST CHODE    526113
42      43                  Waiver Wire God    526113
43      44                    True Freshman    526113
44      45                      Dezpacito Â    526113
45      46                Alex Collinoscopy    526113
46      47                  The Romosexuals    526113
47      48            The Manning Faced God    526113
48      49             Running Out Of Ideas    526113
49      50         Kman Drinking FF Hemlock    526113
50      51         Sideshow Bob and his PUP    526113
51      52            Sacko John, Not Trond    526113
52      53               Respect No Pledges    526113
53      54  TikTok TickTock Wazow Loves 8=D    526113

                                 ownerid           ownername
0   2A9BF930-9EBF-401D-9BF9-309EBFE01D15     Andrew Carlough
1   2A9BF930-9EBF-401D-9BF9-309EBFE01D15     Andrew Carlough
2                                      1      Brandon Cotton
3   5A1E31BA-F26A-49A5-89D9-03125ACBEA54       Caleb Trantow
4   5A1E31BA-F26A-49A5-89D9-03125ACBEA54       Caleb Trantow
5   838BBA2A-EDDB-481E-8BBA-2AEDDBE81EDB        Callen Trail
6   838BBA2A-EDDB-481E-8BBA-2AEDDBE81EDB        Callen Trail
7   838BBA2A-EDDB-481E-8BBA-2AEDDBE81EDB        Callen Trail
8   838BBA2A-EDDB-481E-8BBA-2AEDDBE81EDB        Callen Trail
9   838BBA2A-EDDB-481E-8BBA-2AEDDBE81EDB        Callen Trail
10  E5A1E998-5F9C-4747-AD3E-9CCBA159560B        Carl Meziere
11  E5A1E998-5F9C-4747-AD3E-9CCBA159560B        Carl Meziere
12  E5A1E998-5F9C-4747-AD3E-9CCBA159560B        Carl Meziere
13  77565491-E2D8-4BA0-9654-91E2D89BA00A  Christopher Ramsey
14                                     3     Dylan Schonberg
15  8AC9954A-7892-4176-88CE-96FC431E1AE2    Johnathan Yarrow
16  8AC9954A-7892-4176-88CE-96FC431E1AE2    Johnathan Yarrow
17  8AC9954A-7892-4176-88CE-96FC431E1AE2    Johnathan Yarrow
18  8AC9954A-7892-4176-88CE-96FC431E1AE2    Johnathan Yarrow
19  8AC9954A-7892-4176-88CE-96FC431E1AE2    Johnathan Yarrow
20                                     6         Lenis David
21                                     6         Lenis David
22                                     6         Lenis David
23  7A77775F-314B-4FA7-B777-5F314BAFA724    Logan Richardson
24  7A77775F-314B-4FA7-B777-5F314BAFA724    Logan Richardson
25  7A77775F-314B-4FA7-B777-5F314BAFA724    Logan Richardson
26  CE279A1E-1373-44D6-9386-B6D968E77E1B       Mark Hamilton
27  CE279A1E-1373-44D6-9386-B6D968E77E1B       Mark Hamilton
28  CE279A1E-1373-44D6-9386-B6D968E77E1B       Mark Hamilton
29  6CBBEC56-F103-48C7-B3F8-40E4A439A426       Matt Kniowski
30  6CBBEC56-F103-48C7-B3F8-40E4A439A426       Matt Kniowski
31  6CBBEC56-F103-48C7-B3F8-40E4A439A426       Matt Kniowski
32  6CBBEC56-F103-48C7-B3F8-40E4A439A426       Matt Kniowski
33  6CBBEC56-F103-48C7-B3F8-40E4A439A426       Matt Kniowski
34                                     2      Neal Bhattarai
35                                     4    Phillip Spurling
36                                     4    Phillip Spurling
37                                     5    Ryan Hershberger
38                                     5    Ryan Hershberger
39                                     5    Ryan Hershberger
40                                     5    Ryan Hershberger
41  0FDF20B0-22B3-44EC-AB01-4A99AA6E055D    Scottie Enriquez
42  0FDF20B0-22B3-44EC-AB01-4A99AA6E055D    Scottie Enriquez
43  0FDF20B0-22B3-44EC-AB01-4A99AA6E055D    Scottie Enriquez
44  7BE03E9B-C716-4CD8-A03E-9BC716ECD85E        Travis James
45  7BE03E9B-C716-4CD8-A03E-9BC716ECD85E        Travis James
46  7BE03E9B-C716-4CD8-A03E-9BC716ECD85E        Travis James
47  7BE03E9B-C716-4CD8-A03E-9BC716ECD85E        Travis James
48  7BE03E9B-C716-4CD8-A03E-9BC716ECD85E        Travis James
49  A14FEDE3-A67C-4C66-BE82-117906AAA11A           Trond Liu
50  A14FEDE3-A67C-4C66-BE82-117906AAA11A           Trond Liu
51  A14FEDE3-A67C-4C66-BE82-117906AAA11A           Trond Liu
52  A14FEDE3-A67C-4C66-BE82-117906AAA11A           Trond Liu
53  A14FEDE3-A67C-4C66-BE82-117906AAA11A           Trond Liu  >

In [19]:
week = pd.read_parquet('s3://ff-temp-export-testing/useff/nfldb/twiath.week/1/part-00000-6a6171bf-7541-4b30-b729-1b49cfd297fc-c000.gz.parquet')
week.head

<bound method NDFrame.head of     weekid  week  year
0    20141     1  2014
1    20142     2  2014
2    20143     3  2014
3    20144     4  2014
4    20145     5  2014
..     ...   ...   ...
76  201812    12  2018
77  201813    13  2018
78  201814    14  2018
79  201815    15  2018
80  201816    16  2018

[81 rows x 3 columns]>